	<% include layout.html %>
	<div ng-app="myapp" ng-controller="addCount as add">

		<div  id="error"></div>
			<div>
				<form ng-submit="add.SubmitData()">
					<!-- // section 1 -> General Data -->
					<div class="row">
			  			<div class="col-md-9 col-md-push-2">
							<div class = "panel panel-info">
							   <div class = "panel-heading">
							      <h3 class = "panel-title">General Data</h3>
							   </div>
							   <div class = "panel-body">
							    <div class="row">
							     	<div class="col-md-2">
							     		<label> Name</label>
							     	</div>
							     	<div class="col-md-4">
							     		<input type="text" ng-model="add.user.name">
							     	</div>
							     	<div class="col-md-2">
							     		<label> Password</label>
							     	</div>
							     	<div class="col-md-4">
							     		<input type="password" ng-model="add.user.password">
							     	</div>
							    </div>
							    <br>
							    <div class="row">
							     	<div class="col-md-2">
							     		<label> Address</label>
							     	</div>
							     	<div class="col-md-4">
							     		<input type="text" ng-model="add.user.address">
							     	</div>
							    </div>
							    <br>
							    <div class="row">
							     	<div class="col-md-2">
							     		<label> City</label>
							     	</div>
							     	<div class="col-md-4">
							     		<input type="text" ng-model="add.user.city">
							     	</div>
							     	<div class="col-md-2">
							     		<label> State</label>
							     	</div>
							     	<div class="col-md-4">
							     		<input type="text" ng-model="add.user.state">
							     	</div>
							    </div>
							    <br>
							    <div class="row">
							     	<div class="col-md-2">
							     		<label> Country</label>
							     	</div>
							     	<div class="col-md-4">
							     		<select ng-model="add.user.country"   >
							     			<option ng-repeat="x in countries" value="{{x.code}}">{{x.name}}</option>
										</select>
							     	</div>
							     	<div class="col-md-2">
							     		<label> Telephone</label>
							     	</div>
							     	<div class="col-md-4">
							     		<input type="text" ng-model="add.user.telephone">
							     	</div>
							    </div>
							    <br>
							    <div class="row">
							     	<div class="col-md-2">
							     		<label> Account Manager</label>
							     	</div>
							     	<div class="col-md-4">
							     		
						     			<select ng-model="add.user.account_manage"   >
							     			<option 
							     					ng-repeat="x in emplyees" 
							     					ng-if="x.Employee_Department_ID ==3"
							     					value="{{x.Employee_Code}}">{{x.Employee_Name}}
							     			</option>
							     		</select>
							     	
							     	</div>
							     	<div class="col-md-2">
							     		<label> Sales Rep</label>
							     	</div>
							     	<div class="col-md-4">
							     		<select ng-model="add.user.sales_rep"   >
							     			<option 
							     					ng-repeat="x in emplyees" 
							     					ng-if="x.Employee_Department_ID ==1"
							     					value="{{x.Employee_Code}}">{{x.Employee_Name}}
							     			</option>
										</select>
							     	</div>
							    </div>
							    <br>
							    <div class="row">
							     	<div class="col-md-2">
							     		<label> CMS Manager</label>
							     	</div>
							     	<div class="col-md-4">
						     			<select ng-model="add.user.cms_manager"   >
							     			<option 
							     					ng-repeat="x in emplyees" 
							     					ng-if="x.Employee_Department_ID ==2"
							     					value="{{x.Employee_Code}}">{{x.Employee_Name}}
							     			</option>
							     		</select>
							     	</div>
							     	<div class="col-md-2">
							     		<label> Parent Account</label>
							     	</div>
							     	<div class="col-md-4">
							     		<select ng-model="add.user.parent_account"   >
							     			<option ng-repeat="x in accounts" value="{{x.Account_Code}}">{{x.Account_Name}}</option>
										</select>
							     	</div>
							    </div>
							    <br>
							    <div class="row">
							     	<div class="col-md-2">
							     		<label> Extra Details</label>
							     	</div>
							     	<div class="col-md-4">
							     		<textarea ng-model="add.user.extra_details"></textarea> 
							     	</div>
							    </div>
							    <br>
							   </div>
							</div>		
						</div>
					</div>
					<!-- // section 2 -> Plan -->
					<div class="row">
			  			<div class="col-md-9 col-md-push-2">
							<div class = "panel panel-success">
							   <div class = "panel-heading">
							      <h3 class = "panel-title">Plan</h3>
							   </div>
							   <div class = "panel-body">
							    <div class="row">
							     	<div class="col-md-2">
							     		<label> Interface</label>
							     	</div>
							     	<div class="col-md-4">
							     		<input type="radio" name="inertface" value="mobile" ng-model="add.user.interface">Mobile
							     		<input type="radio" name="inertface" value="web" ng-model="add.user.interface">Web
							     		<input type="radio" name="inertface" value="desktop" ng-model="add.user.interface">Desktop
							     	</div>
							     	<div class="col-md-2">
							     		<label> External Resource</label>
							     	</div>
							     	<div class="col-md-4">
							     		<div  ng-dropdown-multiselect="" options="db_data" selected-model="db_model" extra-settings="db_settings">
										</div>
							     	</div>
							    </div>
							    <br>
							    <div class="row">
							     	<div class="col-md-2">
							     		<label> Tool</label>
							     	</div>
							     	<div class="col-md-4">
							     		<div  ng-dropdown-multiselect="" options="tool_data" selected-model="tool_model" extra-settings="tool_settings">
										</div>
							     	</div>
							    </div>
							    <br>
							    <div class="row">
							    	<div class="col-md-2">
							     		<label> Max Concurrent Users</label>
							     	</div>
							     	<div class="col-md-4">
							     		<input type="number" name="max_concurrent_users" ng-model="add.user.max_concurrent">
							     	</div>
							     	<div class="col-md-2">
							     		<label> Max Users</label>
							     	</div>
							     	<div class="col-md-4">
							     		<input type="number" name="max_users" ng-model="add.user.max_users">
							     	</div>
							    </div>
							    <br>
							    <div class = "row">
						    		<div class="col-md-4">
							     		<label> Can Customize MedicalData</label>
							     	</div>
							     	<div class="col-md-4">
							     		<input type="radio" name="can_custom" value="1" ng-model="add.user.can_custom"> Yes
							     		<input type="radio" name="can_custom" value="0" ng-model="add.user.can_custom"> No
							     	</div>
							    </div>
							    <br>
							    <div class="row">
							    	<div class="col-md-2">
							     		<label> Way Of Access</label>
							     	</div>
							     	<div class="col-md-4">
							     		<input type="radio" name="way_of_access" value="1" ng-click="ShowPassport('Y')" ng-model="add.user.way_access"> Locked
							     		<input type="radio" name="way_of_access" value="0" ng-click="ShowPassport('N')" ng-model="add.user.way_access"> Unlocked
							     	</div>
							     	<div ng-show="IsVisible">
								     	<div class="col-md-2">
								     		<label> List Of IPs</label>
								     	</div>
								     	<div class="col-md-4">
								     		<input type="text" name="city" ng-model="add.user.list_ips">
								     	</div>
							     	</div>
							    </div>
							    <br>
							   </div>
							</div>		
						</div>
					</div>
					<!-- // section 3 -> Subscriber Manager -->
					<div class="row">
			  			<div class="col-md-9 col-md-push-2">
							<div class = "panel panel-danger">
							   	<div class = "panel-heading">
							    	<h3 class = "panel-title">Subscriber Manager</h3>
							   	</div>
								<div class = "panel-body">
								   	<div class="row">
								     	<div class="col-md-2">
								     		<label> Name</label>
								     	</div>
								     	<div class="col-md-4">
								     		<input type="text" name="subscriber_name" ng-model="add.user.subscriber_name">
								     	</div>
								     	<div class="col-md-2">
								     		<label> Email</label>
								     	</div>
								     	<div class="col-md-4">
								     		<input type="text" name="subscriber_email" ng-model="add.user.subscriber_email">
								     	</div>
								    </div>
								    <br>
								    <div class="row">
								     	<div class="col-md-2">
								     		<label> Phone</label>
								     	</div>
								     	<div class="col-md-4">
								     		<input type="text" name="subscriber_phone" ng-model="add.user.subscriber_phone">
								     	</div>
								     	<div class="col-md-2">
								     		<label> Mobile</label>
								     	</div>
								     	<div class="col-md-4">
								     		<input type="text" name="subscriber_mobile" ng-model="add.user.subscriber_mobile">
								     	</div>
								    </div>
								    <br>
								    <div class="row">
								     	<div class="col-md-2">
								     		<label> Role</label>
								     	</div>
								     	<div class="col-md-4">
								     		<input type="text" name="subscriber_role" ng-model="add.user.subscriber_role">
								     	</div>
								     	<div class="col-md-2">
								     		<label> Period Of Month</label>
								     	</div>
								     	<div class="col-md-4">
								     		<input type="number" name="period_of_month" ng-model="add.user.period_of_month">
								     	</div>
								    </div>
								    <br>
								    <div class="row">
								     	<div class="col-md-2">
								     		<label> Start Date</label>
								     	</div>
								     	<div class="col-md-4">
								     		<input type="date" name="start_date" ng-model="add.user.start_date">
								     	</div>
								     	<div class="col-md-2">
								     		<label> End Date</label>
								     	</div>
								     	<div class="col-md-4">
								     		<input type="date" name="end_date" ng-model="add.user.end_date">
								     	</div>
								    </div>
								    <br>
								    <div class="row">
								     	<div class="col-md-2">
								     		<label> Extra Details</label>
								     	</div>
								     	<div class="col-md-4">
								     		<textarea name="subscriber_details" ng-model="add.user.subscriber_details"></textarea> 
								     	</div>
								    </div>
								    <br>
								</div>		
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-9 col-md-push-2">
							<button type="submit" class="btn btn-primary btn-lg btn-block">Add Account</button>
						</div>
					</div>
				</form>
	<% include partial/footer.html %>
	<script type="text/javascript">
		
		var app = angular.module('myapp', ['angularjs-dropdown-multiselect']);

		app.controller('addCount', function($scope, $http) {

			$http.get("/getCountries").then(function (response) {
			  		// console.log(response.data);
			    
			    $scope.countries = response.data;
			});

			$http.get("/getEmployees").then(function (response) {
			  		// console.log(response.data);
			    $scope.emplyees = response.data;
			});

		    $http.get("/getAccounts").then(function (response) {
		  		// console.log(response.data);
		      	$scope.accounts = response.data;
		    });

		    $http.get("/getOutSourceDBs").then(function (response) {
		    	
		    	$scope.db_model = []; 
  				$scope.db_data = response.data; 
    			$scope.db_settings = {displayProp: 'name'};
		  	});
    		$scope.db_settings = {displayProp: 'name'};



		  	$http.get("/getTools").then(function (response) {
		  		$scope.tool_model = []; 
  				$scope.tool_data = response.data; 
    			$scope.tool_settings = {displayProp: 'name'};
		  	});
    		$scope.tool_settings = {displayProp: 'name'};


		  	$scope.IsVisible = false;
            $scope.ShowPassport = function (value) {
                //If DIV is visible it will be hidden.
                $scope.IsVisible = value == "Y";
            }

            this.SubmitData=function(){

            	var out_source_dbs   = [];
            	var out_source_tools = [];

		    	angular.forEach($scope.db_model, function(value,index){

		    		out_source_dbs.push(value.code);
		    	});

		    	angular.forEach($scope.tool_model, function(value,index){

		    		out_source_tools.push(value.code);
		    	});


		    	this.user.outsourcedbs = out_source_dbs;
		    	this.user.outsourcetools = out_source_tools;
            	var data = this.user;

            	$http({
		    		method:"POST",
		    		url:"/addAccount",
		    		data :JSON.stringify(data)
				}).then(function(data){
					console.log(data.data);
					// if (data.data.message==true) {
					// 	$window.location.href = '/about';
					// }else{

					// 	$window.location.href = '/login';
					// }
					// myEl.html(data.data.message); 
				},function(error){
					// console.log(data.data.message);

					// myEl.html(data.data.message); 
				});
            }
		});

	</script>
</body>
</html>

