	<% include layout.html %>
	<div ng-app="myapp" ng-controller="addCount as add">

			<div>
				<form ng-submit="add.SubmitData()">
					<!-- // section 1 -> General Data -->
					<div class="row">
			  			<div class="col-md-9 col-md-push-2">
							<div class = "panel panel-info">
							   <div class = "panel-heading">
							      <h3 class = "panel-title">Add Depart</h3>
							   </div>
							   <div class = "panel-body">
							    	<div class="row">
								     	<div class="col-md-2">
								     		<label> Name</label>
								     	</div>
								     	<div class="col-md-4">
								     		<input type="text" ng-model="add.user.name">
								     	</div>

								     	<div class="col-md-2">
								     		<label>Department Manager</label>
								     	</div>
								     	<div class="col-md-4">
								     		<select ng-model="add.user.employee_id"   >
								     			<option ng-repeat="x in emplyees" value="{{x.Employee_Code}}">{{x.Employee_Name}}</option>
											</select>
								     	</div>
							    	</div>
							   </div>
							</div>		
						</div>
					</div>
					
					<div  id="error"></div>
					<div class="row">
						<div class="col-md-9 col-md-push-2">
							<button type="submit" class="btn btn-primary btn-lg btn-block">Add Department</button>
						</div>
					</div>
				</form>
	<% include partial/footer.html %>
	<script type="text/javascript">
		
		var app = angular.module('myapp', ['angularjs-dropdown-multiselect']);

		app.controller('addCount', function($scope, $http) {
            
			$http.get("/getEmployees").then(function (response) {
				    $scope.emplyees = response.data;
			});

            this.SubmitData=function(){
				var myEl = angular.element( document.querySelector( '#error' ) );
		    
            	var data = this.user;
            	console.log(data);

            	$http({
		    		method:"POST",
		    		url:"/addDepart",
		    		data :JSON.stringify(data)
				}).then(function(data){
					if (data.data.message==true) {
						
						myEl.html('Save Successfully'); 
					}else{
						myEl.html('Error'); 
					}
					
				},function(error){
						myEl.html('Error'); 
				});
            }


		});

	</script>
</body>
</html>

