	<% include layout.html %>
	<div ng-app="myapp" ng-controller="addCount as add">

			<div>
				<form ng-submit="add.SubmitData()">
					<!-- // section 1 -> General Data -->
					<div class="row">
			  			<div class="col-md-9 col-md-push-2">
							<div class = "panel panel-info">
							   <div class = "panel-heading">
							      <h3 class = "panel-title">General Data</h3>
							   </div>
							   <div class = "panel-body">
							    <div class="row">
							     	<div class="col-md-2">
							     		<label> Name</label>
							     	</div>
							     	<div class="col-md-4">
							     		<input type="text" ng-model="add.user.name">
							     	</div>
							     	<div class="col-md-2">
							     		<label> Email</label>
							     	</div>
							     	<div class="col-md-4">
							     		<input type="text" ng-model="add.user.email">
							     	</div>
							    </div>
							    <br>
							    <div class="row">
							     	<div class="col-md-2">
							     		<label> City</label>
							     	</div>
							     	<div class="col-md-4">
							     		<input type="text" ng-model="add.user.city">
							     	</div>
							     	<div class="col-md-2">
							     		<label> State</label>
							     	</div>
							     	<div class="col-md-4">
							     		<input type="text" ng-model="add.user.state">
							     	</div>
							    </div>
							    <br>
							    <div class="row">
							     	<div class="col-md-2">
							     		<label> Country</label>
							     	</div>
							     	<div class="col-md-4">
							     		<select ng-model="add.user.country"   >
							     			<option ng-repeat="x in countries" value="{{x.Country_Code}}">{{x.Country_Name}}</option>
										</select>
							     	</div>
							     	<div class="col-md-2">
							     		<label> Address</label>
							     	</div>
							     	<div class="col-md-4">
							     		<input type="text" ng-model="add.user.address">
							     	</div>
							    </div>
							    <br>
							    <div class="row">
							     	<div class="col-md-2">
							     		<label> Telephone</label>
							     	</div>
							     	<div class="col-md-4">
							     		<input type="text" ng-model="add.user.telephone">
							     	</div>
							    </div>
							    <br>
							    <div class="row">
							     	<div class="col-md-2">
							     		<label>Senior Employee</label>
							     	</div>
							     	<div class="col-md-4">
							     		
						     			<select ng-model="add.user.senior_employee"   >
							     			<option 
							     					ng-repeat="x in emplyees" 
							     					value="{{x.Employee_Code}}">{{x.Employee_Name}}
							     			</option>
							     		</select>
							     	
							     	</div>
							     	<div class="col-md-2">
							     		<label>Department</label>
							     	</div>
							     	<div class="col-md-4">
							     		<select ng-model="add.user.department"   >
							     			<option 
						     					ng-repeat="x in departments" 
							     			
						     					value="{{x.Department_Code}}">{{x.Department_Name}}
							     			</option>
										</select>
							     	</div>
							    </div>
							    <br>
							    <div class="row">
							     	<div class="col-md-2">
							     		<label> Date Of Birth</label>
							     	</div>
							     	<div class="col-md-4">
						     			<input type="date" name="end_date" ng-model="add.user.date_birth">
							     	</div>
							     	<div class="col-md-2">
							     		<label>Graduation Year</label>
							     	</div>
							     	<div class="col-md-4">
							     		<input type="text" name="end_date" ng-model="add.user.grad_year">
							     	</div>
							    </div>
							    <br>
							    <div class="row">
							     	<div class="col-md-2">
							     		<label> Extra Details</label>
							     	</div>
							     	<div class="col-md-4">
							     		<textarea ng-model="add.user.extra_details"></textarea> 
							     	</div>
							    </div>
							    <br>
							   </div>
							</div>		
						</div>
					</div>
					<!-- // section 3 -> Subscriber Manager -->
					<div  id="error"></div>
					<div class="row">
						<div class="col-md-9 col-md-push-2">
							<button type="submit" class="btn btn-primary btn-lg btn-block">Add Employee</button>
						</div>
					</div>
				</form>
	<% include partial/footer.html %>
	<script type="text/javascript">
		
		var app = angular.module('myapp', ['angularjs-dropdown-multiselect']);

		app.controller('addCount', function($scope, $http) {

			$http.get("/getCountries").then(function (response) {
			    $scope.countries = response.data;
			});

			$http.get("/getEmployees").then(function (response) {			   
			    $scope.emplyees = response.data;
			});

		    $http.get("/getDepartments").then(function (response) {
		      	$scope.departments = response.data;
		    });

		   	// $http.get("/getRoles").then(function (response) {
		    //   	$scope.roles = response.data;
		    // });

		    // $http.get("/getRolesType").then(function (response) {
		    //   	$scope.rolesType = response.data;
		    // });

		    // $http.get("/getAccounts").then(function (response) {
		    // 	console.log(response);
		    //   	$scope.accounts = response.data;
		    // });


            this.SubmitData=function(){

				var myEl = angular.element( document.querySelector( '#error' ) );

            	var data = this.user;

            	$http({
		    		method:"POST",
		    		url:"/addEmployee",
		    		data :JSON.stringify(data)
				}).then(function(data){
					console.log(data.data);
					if (data.data.flag==true) {
						
						myEl.html('Employee Is Saved'); 
					}else{

					//	myEl.html(data.data.message); 
					}
					
				},function(error){
					console.log(error);
					//	myEl.html(data.data.message); 
				});
            }


		});

	</script>
</body>
</html>

