<% include header.html %>

<div ng-app="myApp" ng-controller="customersCtrl"> 
<table class="table table-bordered">
	<caption>All Users</caption>
	<thead>
		<tr>
			<th>User Name</th>
			<th>Email</th>
			<th>Role</th>
			<th>Address</th>
			<th>User Role</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="x in users">
			<td>
				{{x.username}}
			</td>
			<td>
				{{x.email}}
			</td>
			<td>
				{{x.role}}
			</td>
			<td>
				{{x.address}}
			</td>
			<td>
				<ul ng-repeat="elem in (x.user_role | customSplitString)">
			  	 	<li ng-if="elem ==1">create user</li>
					<li ng-if="elem ==2">edit user</li>
					<li ng-if="elem ==3">delete user</li>
			   </ul>
			</td>
			<td>
				<input type="button" name="{{x._id}}" value="Edit" >
			</td>
		</tr>
	</tbody>
</table>

</div>
    <script>
var app = angular.module('myApp', []);

app.controller('customersCtrl', function($scope, $http) {
  $http.get("/users").then(function (response) {
      $scope.users = response.data;
  });
});

 app.filter('customSplitString', function() {
  return function(input) {
    var arr = input.split(',');
    return arr;
  };
});
 
</script>


</body>
</html>