
		<% include layout.html %>
		<div ng-app="myapp" ng-controller="passwordCtrl as ctrl">

			<div  id="error"></div>
			<div>
			   <form name="myForm" ng-submit="ctrl.SubmitData()">
			      
			       <label for="old_password">Current Password</label>
			       <input type="password" id="old_password" name="old_password" ng-model="ctrl.old_password" required  />
			       <span ng-show="myForm.old_password.$error.required && myForm.old_password.$dirty">required</span>

			       <br/>
			       <label for="password">New Password</label>
			       <input type="password" id="password" name="password" ng-model="ctrl.new_password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required  />
				   <span ng-show="myForm.password.$error.required && myForm.password.$dirty">required</span>
				   <span ng-show="!myForm.password.$error.required && (myForm.password.$error.minlength || myForm.password.$error.maxlength) && myForm.password.$dirty">Passwords must be between 8 and 20 characters.</span>
				   <span ng-show="!myForm.password.$error.required && !myForm.password.$error.minlength && !myForm.password.$error.maxlength && myForm.password.$error.pattern && myForm.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
				       <br />
				       
			       
			       <label for="password_c">Confirm New Password</label>
			       <input type="password" id="password_c" name="password_c" ng-model="ctrl.password_c" valid-password-c="{{ctrl.new_password===ctrl.password_c}}" required  />
				   <span ng-show="myForm.password_c.$error.required && myForm.password_c.$dirty">Please confirm your password.</span>
				   <span ng-show="!myForm.password_c.$error.required && myForm.password_c.$error.noMatch && myForm.password.$dirty">Passwords do not match.</span>
				       <br />
				       
				   <button type="submit" class="btn" ng-disabled="!myForm.$valid">Submit</button>
				</form>
			</div>
   		</div>
		<% include partial/footer.html %>



<script>
	
	var app = angular.module('myapp', ['UserValidation']);

	angular.module('UserValidation', []).directive('validPasswordC', function () {
	    return {
	        require: 'ngModel',
	        link: function (scope, elm, attrs, ctrl) {
	            
	              ctrl.$setValidity('noMatch', true);

	                attrs.$observe('validPasswordC', function (newVal) {
	                    if (newVal === 'true') {
	                        ctrl.$setValidity('noMatch', true);
	                    } else {
	                        ctrl.$setValidity('noMatch', false);
	                    }
	                });
	        }
	    }
	})

	app.controller('passwordCtrl', function($scope, $http,$window) {

	var myEl = angular.element( document.querySelector( '#error' ) );
   


    this.SubmitData=function(){
    	
    	var data  ={
			old_password : this.old_password,
			new_password  : this.new_password
    	}

    	$http({
    		method:"POST",
    		url:"/changePassword",
    		data :JSON.stringify(data)
		}).then(function(data){
			console.log(data.data.message);
			if (data.data.message==true) {
				$window.location.href = '/about';
			}else{

				$window.location.href = '/login';
			}
			// myEl.html(data.data.message); 
		},function(error){
			myEl.html(data.data.message); 
		})
    }
});


</script>	
</body>
</html>