
		<% include layout.html %>

			<div style="text-align: center;">
						
				<form   action=""  enctype="multipart/form-data" >
					<label>Current Password</label>
					  <input type="password" tabindex="1" placeholder="Enter Your old password" name="username" >
					
					<label>New Password</label>
					  <input type="password" tabindex="2" placeholder="Current Password" name="email" >
					 <label>Confirm New Password</label>
					  <input type="password" tabindex="3" placeholder="Confirm Current Password" name="address" >
				    
				    <!-- <input type="file" name="file"> -->
					<footer>
					  <input type="submit" class="btnLogin" value="Update" tabindex="1" />
					</footer>

				</form>
			</div>			

		<% include partial/footer.html %>
</body>
</html>