	<% include layout.html %>
	<div ng-app="myapp" ng-controller="searchAccount as search">
		<div  id="error"></div>
		<form ng-submit="search.SubmitData()">
			<div class="row">
				<div class="col-md-6 col-md-push-3">
					<div class="input-group input-group-lg">
				        <input type="text" class="form-control" placeholder="Search" id="txtSearch" ng-model="search.account.searchField"/>
				        <div class="input-group-btn">
				          <button class="btn btn-lg btn-primary" type="submit">
				            <span class="glyphicon glyphicon-search"></span>
				          </button>
				        </div>
			      	</div>
				</div>
			</div>
		</form>
		<div id="seachResults"  ng-show="IsVisible">
			<table class="table table-bordered">
				<caption>Accounts</caption>
				<thead>
					<tr>
						<th>Account Name</th>
						<th>Code</th>
						<th>Address</th>
						<th>Telephone</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in accounts">
						<td>
							{{x.Account_Name}}
						</td>
						<td>
							{{x.Account_Code}}
						</td>
						<td>
							{{x.Account_Address}},{{x.Account_City}},{{x.Account_Country}}
						</td>
						<td>
							{{x.Account_Telephone}}
						</td>
						<td>
							<a href="/viewAccount?id={{x.code}}">View</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<% include partial/footer.html %>
	<script type="text/javascript">
		
		var app = angular.module('myapp', []);
		var myEl = angular.element( document.querySelector( '#error' ) );

		app.controller('searchAccount', function($scope, $http) {
			$scope.IsVisible = false;
            this.SubmitData=function(){
            	myEl.html('');
            	var data = this.account;
            	$http({
		    		method:"POST",
		    		url:"/searchAccount",
		    		data :data
				}).then(function(data){
					console.log(data.data);
					$scope.IsVisible=true;
					$scope.accounts = data.data.accounts;
					myEl.html(data.data.message); 
				},function(error){
					
					myEl.html(data.data.message); 
				});
            }
		});

	</script>
</body>
</html>

